[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = HanHaSub
	email = 36252002+HanHaSub@users.noreply.github.com
